DOCKER_USERNAME=jungsuyeon
IMAGE_TAG=latest
SPRING_PROFILES_ACTIVE=dev

DB_PORT=5432
DB_NAME=farmus
DB_USERNAME=postgres
DB_PASSWORD=strongpass

JWT_SECRET=ThisIsAVeryLongSecretKeyForJwtSigning_ChangeMe_1234567890
GOOGLE_MAP_API_KEY=AIzaSyAmFdXPHnXBRP9C2tfyxTlaIWHYliefp7g
SWAGGER_SERVER_URL=http://222.109.122.190:8080
FILE_UPLOAD_DIR=/home/farmus/uploads

GDD_SERVICE_KEY=b253dbff94daeb371e2607e5edac1120337e9b74be49f3f8a40a1e98d07c9c57
GDD_SCHEDULER_CRON=0 10 3 * * *

CAMERA_STREAM_URL=https://example.com/mjpeg
CAMERA_STREAM_PROTOCOL=MJPEG
CAMERA_STREAM_TTL_MINUTES=60
